################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter02/.vs
/Chapter02/Formating/.vs
/Chapter02/Formating/bin/Debug/net6.0/Formating.deps.json
/Chapter02/Formating/bin/Debug/net6.0
/Chapter02/Vocabulary/bin/Debug/net6.0
/Chapter02/WpfApp1/.vs
